
#question{
  font-size: 30px;
  margin-top: 3%;
}
#radioBtn .btn{
  font-size: 20px;
}
@media screen and (max-width: 400px) {
  #question{
    font-size: 15px;
  }
  #radioBtn .btn{
    font-size: 15px;
  }
}
i{
  margin-right:5px;
}

.question-counter{
  margin-bottom: 2%;
}
.question-counter .c{
   color: #96b732;
}
.question-counter .q{
  color: #1086c6;
}


