<div *ngIf="questions">


  <div class="container text-center">
    <div class="question-counter  font-weight-bold"><span class="q">Question </span> <span class="c">{{step+1}}/{{questions.length}}</span></div>
  </div>

  <div class="card">
    <div class="card-body">
      <div id="question" class="container d-flex flex-column align-items-center  justify-content-center">
        <div class="question"><p>{{step+1}}. {{questions[step].label}}</p></div>
    </div>
    <div>
      <div class="container d-flex flex-column align-items-center  justify-content-center">
        <div class="form-group">
          <div class="col-sm-7 col-md-7">
            <div class="input-group">
              <div id="radioBtn" class="btn-group">
                <a class="btn" [ngClass]="{'btn-primary':questions[step].response != responseEnum.YES,'btn-success':questions[step].response === responseEnum.YES}" (click)="setResponse(responseEnum.YES)" >Yes</a>
                <a class="btn" [ngClass]="{'btn-primary':questions[step].response != responseEnum.PARTLY,'btn-success':questions[step].response === responseEnum.PARTLY}" (click)="setResponse(responseEnum.PARTLY)">Partly</a>
                <a class="btn" [ngClass]="{'btn-primary':questions[step].response != responseEnum.NO,'btn-success':questions[step].response === responseEnum.NO}"  (click)="setResponse(responseEnum.NO)">No</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>


  <div id="question" class="container d-flex flex-column align-items-center  justify-content-center">
  <button type="button" (click)="back()" class="btn btn-success">
    <i class="fa fa-arrow-left"></i>Back
  </button>
</div>
</div>
