<div class="container">
  <div class="py-5 text-center">
    <img class="d-block mx-auto mb-4" src="../../../assets/images/logo.jpg" alt="" width="200" height="100">
    <h2 class="title"> Human Needs Assessment</h2>
    <router-outlet></router-outlet>

</div>


<footer class="text-center">
  <p>&copy; 2020 Own It Coach.</p>
</footer>
