
  <div class="container">
    <form [formGroup]="introForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" class="form-control" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" email>
        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
          <div *ngIf="f.email.errors.required">Email is required</div>
          <div *ngIf="f.email.errors.email">Please provide a correct email</div>
          </div>
      </div>
      <div class="form-group">
        <label for="name">Please provide your name</label>
        <input type="text" class="form-control" formControlName="name" [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
        <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
          <div *ngIf="f.name.errors.required">Name is required</div>
      </div>
      </div>

        <div class="containe text-center">
          <h1>Overview</h1>
          <p class="lead text-muted">This assessment contains 84 questions and will require approximately 5-8 minutes to complete. Please respond to every statement
            honestly, your answers will determine the accuracy of the assessment.</p>
            <p class="lead text-muted">Answer "Yes" for "Yes, this is really me", "Partly" for "This is partly how I am" or "No" for "This is probably not how I am". (If you don't
              know whether it applies to you, it's usually best to check "No")</p>
          <p>
            <button type="submit"  class="btn btn-primary btn-lg my-2">Start Assessment</button>
          </p>
        </div>

    </form>

  </div>
