<div class="text-center"  *ngIf="loading">
  <div class="spinner-border" style="width: 5rem; height: 5rem;"  role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>
<div class="container" *ngIf="!loading">
<div class="alert alert-danger" role="alert" *ngIf="!success&&submited">
  Network probleme. Please try later!
</div>

  <div class="containe text-center" *ngIf="!success||!submited">
    <h2>Submit the questionnaire</h2>
    <p class="lead text-muted">
      Thank you for completing the Six Human Needs assessment. If you are satisfied with your responses, click the submit button. You will receive a summary of the assessment via email.
      <br>Mary Jury, Own It Coach.
    <p>
      <button type="button" class="btn btn-primary btn-lg my-2" (click)="sendQuestionnaire()">Send Questionnaire</button>
    </p>
  </div>
  <div class="containe success text-center"  *ngIf="success">
  <div class="lead text-muted submited">Questionnaire successfully submited thank you!</div>
  <svg width="6em" height="6em" viewBox="0 0 16 16" class="bi bi-check-circle" fill="#339933" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
    <path fill-rule="evenodd" d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z"/>
  </svg>
  </div>
</div>
