.container {
  max-width: 960px;
}

.lh-condensed { line-height: 1.25; }
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: #86ce11;
  font-size: 20px;
}
@media screen and (max-width: 400px) {
  footer{
    position: static;
  }
}
.title {
  color: #1086c6;
}
