<div class="container">
  <div class="py-5 text-center">
    <img class="d-block mx-auto mb-4" src="../../../assets/images/logo.jpg" alt="" width="200" height="100">
    <h2 class="title"> Assessment Invitation</h2>
  </div>


  <div class="container">
  <div class="messages" *ngIf="msg">
    <div  *ngIf="success" class="alert alert-success" role="alert">
      Invitation Successufuly sent!
    </div>
    <div  *ngIf="!success"  class="alert alert-danger" role="alert">
      Network probleme. Please try later
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <form [formGroup]="invitationForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="invited_email">Invited Email</label>
          <input type="email" class="form-control" formControlName="invited_email" [ngClass]="{ 'is-invalid': submitted && f.invited_email.errors }"   email>
          <div *ngIf="submitted && f.invited_email.errors" class="invalid-feedback">
            <div *ngIf="f.invited_email.errors.required">Email is required</div>
            <div *ngIf="f.invited_email.errors.email">Please provide a correct email</div>
        </div>
        </div>
        <div class="form-group">
          <label for="evaluator_email">Evaluator Email</label>
          <input type="email" class="form-control" formControlName="evaluator_email" [ngClass]="{ 'is-invalid': submitted && f.invited_email.errors }"  email>
          <div *ngIf="submitted && f.evaluator_email.errors" class="invalid-feedback">
            <div *ngIf="f.evaluator_email.errors.required">Email is required</div>
            <div *ngIf="f.evaluator_email.errors.email">Please provide a correct email</div>
        </div>
        </div>
        <button type="submit" class="btn btn-primary btn-lg" [disabled]="loading">Send Invitation
          <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        </button>
      </form>
    </div>
  </div>

</div>

<footer class="text-center">
  <p>&copy; 2020 Own It Coach.</p>
</footer>
